body {
  font-family: 'Roboto', sans-serif;
}

section .row img {
  margin: 0 0 30px;
  width: 100%;
}

header {
  padding-top: 20px;
  border-bottom: solid 1px black;
  margin-bottom: 20px;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}

header h1 {
  font-weight: 700;
  margin: 0;
}

p {
  font-size: .75rem;
}